html, body {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #3699D1;
	color: #464637;
	min-height: 100%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

ul {
    list-style: none;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
	transition: margin 0.6s ease-in-out;
}

.tutorial {
	height: 0px;
	margin-top: -5px;
	padding-left: 47px;
	font-size: 15px;
	color: #8AB7D1;
	transition: opacity 1s;
	opacity: 0;
}

span {
	color: #8AB7D1;
}




.todo {
    margin-top: 100px;
    margin: auto;
    max-width: 380px;
}

.cursor_drag {
    cursor: move;
    padding-right: 20px;
}


textarea {
    resize: vertical;
    border: none;
    background-color: #8AB7D1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

.chunk {
    display: flex;
    align-items: center;
}

.block {
	opacity: 1;
}
	.block__list {
		padding: 20px 0;
		background-color: #3699D1;
	}

	.block__list_words li {
		background-color: #3699D1;
		padding: 10px;
	}
		.block__list_words .sortable-ghost {
			opacity: 0.4;
			background-color: #3699D1;
		}