* {
    padding: 0px;
    margin: 0px;
    color: #EEEEEE;
    font-family: 'Open-Sans', sans-serif;
}

body {
    background-image: url("./media/puppy.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
}

.tint {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

article {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
}

.flexItem {
    text-align: center;
}