html, body {
	margin: 0;
	padding: 0;
	position: relative;
	color: #464637;
	min-height: 100%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

ul {
	list-style: none;
	padding: 0px;
}

h1, h4 {
	margin: 0px;
}

.cutItOut {
	pointer-events: none;
}

.settings {
	left: 100vw;
	margin-left: -38px;
	position: fixed;
	z-index: 30;
	display: flex;
	transition: margin 0.5s;
	max-height: 57px;
	min-width: 100vw;
	cursor: default;
}

.settingsInput {
	margin-left: 15px;
	box-shadow: 5px 5px 10px #4F93BA; /*LOOK AT THAT ZESTY DROP SHADOW*/
}

.settingsInput p {
	margin: 0px;
	color: #8AB7D1;
	font-size: 30px;
	padding-top: 10px;
}

.settingsMouseover {
	margin-top: 15px;
	color: #8AB7D1;
	transition: color 0.2s;
}

.settingsMouseover:hover {
	color: white;
}

.settingsInput form {
	line-height: 0.79em;
	float: left;
}

.settingsInput input {
	width: 50px;
	height: 48px;
	font-size: 30px;
	text-align: center;
	border: none;
}

/*HALLELUJAH*/
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

.settingsInput #break {
	background-color: #8AB7D1;
}

.settingsInput #session {
	background-color: #4989AD;
}

.infoMouseover {
	margin: 15px;
	position: fixed;
	z-index: 30;
	color: #8AB7D1;
	transition: color 0.2s;
	cursor: default;
}

.infoMouseover:hover {
	color: white;
}

.information {
	z-index: 20;
	background-color: black;
	color: #BBB;
	width: 33vw;
	height: 100vh;
	position: fixed;
	opacity: 0;
	overflow-y: scroll;
	visibility: hidden;
	transition: opacity 0.25s;
}

.flexContainer {
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	display: flex;
}

.flexItem {
	display: flex;
	flex-wrap: wrap;
}

.aboutContent {
	width: 400px;
	padding: 20px;
}

.aboutContent h1 {
	border-bottom: solid;
	margin-bottom: 50px;
}

.aboutContent p {
	margin: 0px;
	padding-bottom: 20px;
	padding-left: 15px;
	font-weight: 300;
}

.aboutContent a {
	color: #BBB !important;
}

.aboutContent a:hover, .aboutContent a:focus, .aboutContent a:active {
	color: black !important;
	text-decoration: none;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
	transition: margin 0.4s ease-in-out;
	z-index: -10;
}

.fixedContainer {
	background-color: #3699D1;
	position: fixed;
	height: 100vh;
	pointer-events: none;
}

.tutorial {
	height: 0px;
	margin-top: -5px;
	padding-left: 47px;
	font-size: 15px;
	color: #8AB7D1;
	transition: opacity 0.5s;
	opacity: 0;
}

i {
	color: #8AB7D1;
}

.arrowOffset {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	pointer-events: none;
}

.expandArrow {
	opacity: 0;
	padding-right: 10px;
	transition: color 0.2s, opacity 1s;
	pointer-events: auto;
}

.expandArrow:hover {
	color: #EEE;
}

.itemContainer {
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.item {
	font-size: 30px;
	max-width: 50vw;
	margin-left: -150vw;
	opacity: 0;
	transition: margin 0.4s ease-in-out, opacity 0.4s ease-in-out;
	pointer-events: auto;
}
.item p {
	padding: 0px 5px;
}




.todoHolder {
    margin-top: 100px;
    margin: auto;
	z-index: 2;
}

.tutorial {
	margin-top: -25px;
}

.todo {
    margin-top: 100px;
    margin: auto;
    max-width: 380px;
}

.cursor_drag {
    cursor: move;
    padding-right: 20px;
}


textarea {
    resize: vertical;
    border: none;
    background-color: #8AB7D1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

.chunk {
    display: flex;
    align-items: center;
}

.block {
	opacity: 1;
}
	.block__list {
		padding: 20px 0;
		background-color: #3699D1;
	}

	.block__list_words li {
		background-color: #3699D1;
		padding: 10px;
	}
		.block__list_words .sortable-ghost {
			opacity: 0.4;
			background-color: #3699D1;
		}










/*Transition effect courtesy of hover.css*/
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8AB7D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: #3699D1;
  cursor: pointer;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}